{%- extends "base.html" -%}

{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{%- block beforeContent -%}
{{ super() }}
{{ govukBackLink({
  'text': "Back",
  'href': url_for('register.view', register_id=entry.register_id)
}) }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super() }}
    <span class="govuk-caption-l">Entry</span>
    <h1 class="govuk-heading-l">{{ entry.name }}</h1>
    <div class="govuk-button-group">
      {{ govukButton({
        'text': "Edit entry",
        'href': url_for('register.entry.edit', entry_id=entry.id, register_id=entry.register_id)
      }) }}
      {{ govukButton({
        'text': "Delete entry",
        'classes': "govuk-button--secondary",
        'href': url_for('register.entry.delete', entry_id=entry.id, register_id=entry.register_id)
      }) }}
    </div>
  </div>
</div>
{%- endblock -%}