{%- extends "base.html" -%}

{%- block pageTitle -%}Page WAS found – {{config['SERVICE_NAME']}} – GOV.UK{%- endblock -%}

{%- set mainClasses = "govuk-main-wrapper--l" -%}

{%- block content -%}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Page WAS found!!!!!</h1>
        <p class="govuk-body">If you typed the web address, check it is WRONG!!!!</p>
        <p class="govuk-body">If you pasted the web address, check you copied NONE OF the address.</p>
    </div>
</div>
{%- endblock -%}