{%- extends "base.html" -%}

{%- from 'govuk_frontend_jinja/components/back-link/macro.html' import govukBackLink -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{%- block beforeContent -%}
{{ super() }}
{{ govukBackLink({
  'text': "Back",
  'href': url_for('register.index')
}) }}
{%- endblock -%}

{%- block content -%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ super() }}
    <span class="govuk-caption-l">Register</span>
    <h1 class="govuk-heading-l">{{ register.name }}</h1>
    <div class="govuk-button-group">
      {{ govukButton({
        'text': "Edit register",
        'href': url_for('register.edit', register_id=register.id)
      }) }}
      {{ govukButton({
        'text': "Delete register",
        'classes': "govuk-button--secondary",
        'href': url_for('register.delete', register_id=register.id)
      }) }}
    </div>
    <h1 class="govuk-heading-l">Entries</h1>
    <div class="govuk-button-group">
      {{ govukButton({
        'text': "Add new entry",
        'href': url_for('register.entry.add', register_id=register.id)
      }) }}
    </div>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      {% for entry in register.entries %}
      <li>
        <a class="govuk-link" href="{{ url_for('register.entry.view', register_id=register.id, entry_id=entry.id) }}">{{ entry.name }} - {{ entry.mystery_number }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{%- endblock -%}